@media screen and (min-width: 1441px) {
  .Text3 {
    position: absolute;
    width: 50%;
    top: 180px;
    font-size: 24px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    left: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .ChooseTroll {
    position: absolute;
    width: 90%;
    top: 220px;
    left: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .ChooseTroll .ChooseTroll__nav {
    font-family: "PT Serif", serif;
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-bottom: red;
  }
  .ChooseTroll .ChooseTroll__a {
    text-decoration-color: red;
  }
}
@media screen and (min-width: 901px) and (max-width: 1440px) {
  .Text3 {
    position: absolute;
    width: 50%;
    top: 180px;
    font-size: 24px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    left: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .ChooseTroll {
    position: absolute;
    width: 90%;
    top: 220px;
    left: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .ChooseTroll .ChooseTroll__nav {
    font-family: "PT Serif", serif;
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-bottom: red;
  }
  .ChooseTroll .ChooseTroll__a {
    text-decoration-color: red;
  }
}
@media screen and (min-width: 640px) and (max-width: 900px) {
  .Text3 {
    position: absolute;
    width: 50%;
    top: 180px;
    font-size: 20px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    left: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .ChooseTroll {
    position: absolute;
    width: 90%;
    top: 220px;
    left: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .ChooseTroll .ChooseTroll__nav {
    font-family: "PT Serif", serif;
    font-size: 18px;
    margin: 0 auto;
    width: 80%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-bottom: red;
  }
  .ChooseTroll .ChooseTroll__a {
    text-decoration-color: red;
  }
}
@media screen and (min-width: 440px) and (max-width: 639px) {
  .Text3 {
    position: absolute;
    width: 55%;
    top: 180px;
    font-size: 16px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    left: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .ChooseTroll {
    position: absolute;
    width: 90%;
    top: 220px;
    left: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .ChooseTroll .ChooseTroll__nav {
    font-family: "PT Serif", serif;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-bottom: red;
  }
  .ChooseTroll .ChooseTroll__a {
    text-decoration-color: red;
  }
}

/*# sourceMappingURL=TrolleybusList.css.map */
