@import "./const/const.scss";

@import "./mixin.scss";
@media screen and (min-width: 1441px ){   
    .myheader{
        @include my_header;
    
    .header__nav{
        @include headernav;
    .header__a{
        font-size: 18px;
        color : $wh;
       text-decoration: none;
       justify-content: space-between;
       &:hover{
           color: $red;
       }
    }
    .header__a_color{
        color: $red;
        &:hover{
            color: $wh;
        }
    }
    }
    }
    }

@media screen and (min-width: 901px ) and (max-width : 1440px) {   
.myheader{
    @include my_header;

.header__nav{
    @include headernav;
.header__a{
    font-size: 16px;
    color : $wh;
   text-decoration: none;
   justify-content: space-between;
   &:hover{
       color: $red;
   }
}
.header__a_color{
    color: $red;
    &:hover{
        color: $wh;
    }
}
}
}
}
@media screen and (min-width: 440px) and  (max-width: 900px) {    
    .myheader{
        @include my_header;
    
    .header__nav{
        @include headernav;
    .header__a{
        font-size: 12px;
        color : $wh;
       text-decoration: none;
       justify-content: space-between;
       &:hover{
           color: $red;
       }
    }
    .header__a_color{
        color: $red;
        &:hover{
            color: $wh;
        }
    }
    }
    }
}


@media screen and (max-width : 439px) {   
    .myheader{
        @include my_header;
    
    .header__nav{
        @include headernav;
    .header__a{
        font-size: 10px;
        color : $wh;
       text-decoration: none;
       justify-content: space-between;
       &:hover{
           color: $red;
       }
    }
    .header__a_color{
        color: $red;
        &:hover{
            color: $wh;
        }
    }
    }
    }
    }