@import "./const/const.scss";


@import "./mixin.scss";

    
@media screen and (min-width: 1441px ){  
    .registration{
        font-size: 16px;
    } 
    .registration
    {
      @include registration-color;
        height: 270px;
        width: 40%;
       // margin: -150px 0 0 -230px;
       display: block;
       flex-flow: row nowrap;
       justify-content: flex-start;
    
        padding: 30px;
        position: absolute;
        top: 130px;
        left:   25%;
    }
    .registration:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: $bl;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font-size: 26px;
    font-family: $Seriffont;
    position: relative;
}



/*--------------------*/

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

.inputs input
{
   @include input;
}
.login{
    background-position: 5px -52px !important;
}
.email
{
    background-position: 5px -2px !important;
}

.password
{
    background-position: 5px -102px !important;
}

.inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.actions
{
    margin: 5px 0 0 0;
}

.submit
{		
   @include submit;
}

.submit:hover,.submit:focus
{		
    @include submithf
}	

.submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit::-moz-focus-inner
{
  border: none;
}

.actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/

.back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}


    
}

@media screen and (min-width: 901px ) and (max-width : 1440px) {   
    .registration{
        font-size: 14px;
    }
    .registration
    {
        @include registration-color;
        height: 270px;
        width: 50%;
       // margin: -150px 0 0 -230px;
       display: block;
       flex-flow: row nowrap;
       justify-content: flex-start;
    
        padding: 30px;
        position: absolute;
        top: 130px;
        left:   20%;
    }
    .registration:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: $bl;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font-size: 26px;
    font-family: $Seriffont;
    position: relative;
}



/*--------------------*/

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

.inputs input
{
    @include input;
}
.login{
    background-position: 5px -52px !important;
}
.email
{
    background-position: 5px -2px !important;
}

.password
{
    background-position: 5px -102px !important;
}

.inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.actions
{
    margin: 5px 0 0 0;
}

.submit
{		
   @include submit;
}

.submit:hover,.submit:focus
{		
    @include submithf
}	

.submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit::-moz-focus-inner
{
  border: none;
}

.actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/

.back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}



    
}
@media screen and (min-width: 440px) and  (max-width: 900px) {   
    .registration{
        font-size: 12px;
    } 
    .registration
    {
        @include registration-color;
        height: 270px;
        width: 50%;
       // margin: -150px 0 0 -230px;
       display: block;
       flex-flow: row nowrap;
       justify-content: flex-start;
    
        padding: 30px;
        position: absolute;
        top: 130px;
        left:   25%;
    }
    .registration:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: $bl;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font-size: 26px;
    font-family: $Seriffont;
    position: relative;
}



/*--------------------*/

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

.inputs input
{
    @include input;
}
.login{
    background-position: 5px -52px !important;
}
.email
{
    background-position: 5px -2px !important;
}

.password
{
    background-position: 5px -102px !important;
}

.inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.actions
{
    margin: 5px 0 0 0;
}

.submit
{		
   @include submit;
}

.submit:hover,.submit:focus
{		
    @include submithf
}	

.submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit::-moz-focus-inner
{
  border: none;
}

.actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/

.back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}
}

@media screen and (max-width : 439px) {  
    .registration{
        font-size: 10px;
    } 
    .registration
    {
        @include registration-color;
        height: 270px;
        width: 50%;
       // margin: -150px 0 0 -230px;
       display: block;
       flex-flow: row nowrap;
       justify-content: flex-start;
    
        padding: 30px;
        position: absolute;
        top: 130px;
        left:   28%;
    }
    .registration:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: $bl;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font-size: 26px;
    font-family: $Seriffont;
    position: relative;
}



/*--------------------*/

fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

.inputs input
{
    @include input;
}
.login{
    background-position: 5px -52px !important;
}
.email
{
    background-position: 5px -2px !important;
}

.password
{
    background-position: 5px -102px !important;
}

.inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.actions
{
    margin: 5px 0 0 0;
}

.submit
{		
   @include submit;
}

.submit:hover,.submit:focus
{		
    @include submithf
}	

.submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit::-moz-focus-inner
{
  border: none;
}

.actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/

.back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}



}

/*--------------------*/



