@import "./const/const.scss";


.all{

    height:375px;
    position: absolute;
    top:115px;
    left: 10%;
    width:400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
.avatar{

    height:370px;
    position: absolute;
    top:5px;
    left: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .avatar__image{
        
        height:370px;
    }
}
}