
@import "./header.scss";
@import "./footer.scss";
@import "./avatar.scss";
@import "./PersonalInfo.scss";

  
* {
    margin: 0;
    padding: 0;
  }
 
  body{
    background: url(bg.png) repeat;
    min-height: 100%;
  }

 



  

  
















