
$bl : black;
$red : red;
$wh : white;
$blg : #507299;
$grw :#aea9e2;
h1{
    color: $bl;
}


h2{
        color: $blg;
}



.for_time{

    color: $red;
}


p{

    color: $bl;

}

.for_menu{
    color: $wh;
}

.some_blocks{

    p{

        color: $red;
    
    }

    background-color: $grw;
}
