


.h1{
    color: #333;
}


.h2{
        color: #507299;
}



.for_time{

    color: red;
}


.p{

    color: #333;

}

.for_menu{
    color: #fff
}

.some_blocks{

    p{

        color: red;
    
    }

    background-color: #aea9e2;
}

