@import "./const/const.scss";
.body {
    margin: 0; /* Убираем отступы в браузере */
   }
h1{
     
     line-height: 34.6px;
    font-size: 28px;
    font-family:$Seriffont;
}

h2{ 
    line-height: 29.6px;
   font-size: 24px;
   font-family:$Seriffont;
   font-weight: 700;
}


.for_time{
    line-height: 12.8px;
    font-size: 12px;
    font-family:$Seriffont;
    font-weight: 700;

}


p{
    line-height: 21px;
    font-size: 16px;
    font-family:$Seriffont;
}

.for_menu{
    line-height: 16px;
    font-size: 16px;
    font-family:$Seriffont;
}

