

.h1{
     
     line-height: 34.6px;
    font-size: 28px;
}

.h2{ 
    line-height: 29.6px;
   font-size: 24px;
}


.for_time{
    line-height: 12.8px;
    font-size: 12px;

}


.p{
    line-height: 21px;
    font-size: 16px;
}

.for_menu{
    line-height: 16px;
    font-size: 16px;
}

.some_blocks{
    display: block;
	position: fixed;
    width: 100px;
    height: 150px;
	left: 560px;
	top: 50px;

    p{
        line-height: 21px;
        font-size: 32px;
    }
}


.text{
    line-height: 22px;
    font-size: 32px;
    
}