@import "./const/const.scss";
.footer{
    position: absolute;
    width: 100%;
    background-color: $blg;
    height: 123px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
bottom: 0px;
align-content: stretch;
    align-items: center;
    justify-content: space-evenly;

.footer__logotip{

position: relative;
right: 50px;
top: 3px;
.footer__logot{
    width: 406px;  
height: 110px;
}
}
}