@import "./const/const.scss";

.myheader{
    position: absolute;
        width: 100%;
        background-color: $blg;
        height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    
    align-items: center;

.header__nav{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
.header__a{
    font-size: 12px;
    color : $wh;
   text-decoration: none;
   justify-content: space-between;
}
.header__a_color{
    color: $red;
}
}
}