@import "./const/const.scss";
@import "./mixin.scss";

@media screen and (min-width: 1441px ){   
    .abzac{
       @include abzac;  
    .footer{
        @include footer;
    
    .footer__logotip{
    
    position: relative;
    right: 50px;
    top: 3px;
    .footer__logot{
        width: 306px;  
    height: 110px;
    }
    }
    .footer_text{
        color: $wh;
        font-size: 16px;
    }
    }
    
      }
    
}

@media screen and (min-width: 901px ) and (max-width : 1440px) {   
    .abzac{
        @include abzac;
    .footer{
        @include footer1;
    
    .footer__logotip{
    
    position: relative;
    right: 50px;
    top: 3px;
    .footer__logot{
        width: 306px;  
    height: 110px;
    }
    }
    .footer_text{
        color: $wh;
        font-size: 16px;
    }
    }
    
      }
    
}
@media screen and (min-width: 640px) and  (max-width: 900px) {    
    .abzac{
        @include abzac;
    .footer{
        @include footer1;
    
    .footer__logotip{
    
    position: relative;
    right: 10px;
    top: 3px;
    .footer__logot{
        width: 306px;  
    height: 110px;
    }
    }
    .footer_text{
        color: $wh;
        font-size: 15px;
    }
    }
    
      }
}

@media screen and (min-width: 440px) and  (max-width: 639px) {    
    .abzac{
        @include abzac;
    .footer{
        @include footer1;
    
    .footer__logotip{
    
    position: relative;
    right: 10px;
    top: 3px;
    .footer__logot{
        width: 306px;  
    height: 110px;
    }
    }
    .footer_text{
        color: $wh;
        font-size: 13px;
    }
    }
    
      }
}

