
@import "./header.scss";
@import "./footer.scss";
@import "./entranceImg.scss";
@import "./mixin.scss";

  
* {
    margin: 0;
    padding: 0;
  }
 
  body{
    background-image: url(images\bg.png);
    min-height: 100%;
  }

 



  

  
















