@import "./const/const.scss";

.mainmenutroll{
    margin-left: 95px;
    border: 4px double black;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: $wh;
  
    flex-direction: column;

    .mainmenutroll__pict{
        align-self: flex-start;   
    
    .trolltimetable{
        margin-left:23%;
        height: 50%;
        width:  50%;
    }
    }
    .mainmenutroll__text{
        align-self: flex-end;
        font-size: 12px;

        .troll{
            text-decoration: none;
        }
    }

}