@media screen and (min-width: 1441px) {
  .myheader {
    flex: 0 0 auto;
    position: absolute;
    width: 100%;
    background-color: #507299;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .myheader .header__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a:hover {
    color: red;
  }
  .myheader .header__nav .header__a_color {
    color: red;
  }
  .myheader .header__nav .header__a_color:hover {
    color: white;
  }
}
@media screen and (min-width: 901px) and (max-width: 1440px) {
  .myheader {
    flex: 0 0 auto;
    position: absolute;
    width: 100%;
    background-color: #507299;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .myheader .header__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a:hover {
    color: red;
  }
  .myheader .header__nav .header__a_color {
    color: red;
  }
  .myheader .header__nav .header__a_color:hover {
    color: white;
  }
}
@media screen and (min-width: 640px) and (max-width: 900px) {
  .myheader {
    flex: 0 0 auto;
    position: absolute;
    width: 100%;
    background-color: #507299;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .myheader .header__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a {
    font-size: 10px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a:hover {
    color: red;
  }
  .myheader .header__nav .header__a_color {
    color: red;
  }
  .myheader .header__nav .header__a_color:hover {
    color: white;
  }
}
@media screen and (min-width: 440px) and (max-width: 639px) {
  .myheader {
    flex: 0 0 auto;
    position: absolute;
    width: 100%;
    background-color: #507299;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .myheader .header__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a {
    font-size: 8px;
    color: white;
    text-decoration: none;
    justify-content: space-between;
  }
  .myheader .header__nav .header__a:hover {
    color: red;
  }
  .myheader .header__nav .header__a_color {
    color: red;
  }
  .myheader .header__nav .header__a_color:hover {
    color: white;
  }
}
@media screen and (min-width: 1441px) {
  .abzac {
    position: absolute;
    width: 100%;
    top: 591px;
    display: block;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 40px;
  }
  .abzac .footer {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    background-color: #507299;
    height: 123px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
  }
  .abzac .footer .footer__logotip {
    position: relative;
    right: 50px;
    top: 3px;
  }
  .abzac .footer .footer__logotip .footer__logot {
    width: 306px;
    height: 110px;
  }
  .abzac .footer .footer_text {
    color: white;
    font-size: 16px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1440px) {
  .abzac {
    position: absolute;
    width: 100%;
    top: 591px;
    display: block;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 40px;
  }
  .abzac .footer {
    position: absolute;
    margin-top: 12px;
    width: 100%;
    background-color: #507299;
    height: 123px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
  }
  .abzac .footer .footer__logotip {
    position: relative;
    right: 50px;
    top: 3px;
  }
  .abzac .footer .footer__logotip .footer__logot {
    width: 306px;
    height: 110px;
  }
  .abzac .footer .footer_text {
    color: white;
    font-size: 16px;
  }
}
@media screen and (min-width: 640px) and (max-width: 900px) {
  .abzac {
    position: absolute;
    width: 100%;
    top: 591px;
    display: block;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 40px;
  }
  .abzac .footer {
    position: absolute;
    margin-top: 12px;
    width: 100%;
    background-color: #507299;
    height: 123px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
  }
  .abzac .footer .footer__logotip {
    position: relative;
    right: 10px;
    top: 3px;
  }
  .abzac .footer .footer__logotip .footer__logot {
    width: 306px;
    height: 110px;
  }
  .abzac .footer .footer_text {
    color: white;
    font-size: 15px;
  }
}
@media screen and (min-width: 440px) and (max-width: 639px) {
  .abzac {
    position: absolute;
    width: 100%;
    top: 591px;
    display: block;
    flex-flow: row nowrap;
    justify-content: flex-start;
    font-size: 40px;
  }
  .abzac .footer {
    position: absolute;
    margin-top: 12px;
    width: 100%;
    background-color: #507299;
    height: 123px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
  }
  .abzac .footer .footer__logotip {
    position: relative;
    right: 10px;
    top: 3px;
  }
  .abzac .footer .footer__logotip .footer__logot {
    width: 306px;
    height: 110px;
  }
  .abzac .footer .footer_text {
    color: white;
    font-size: 13px;
  }
}
@media screen and (min-width: 1441px) {
  .search {
    position: absolute;
    top: 150px;
    left: 20%;
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .search .search__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .search .search__nav .search__a {
    text-decoration: none;
    justify-content: space-between;
  }
  .search .search__nav .search__a:hover {
    color: red;
  }
}
@media screen and (min-width: 901px) and (max-width: 1440px) {
  .search {
    position: absolute;
    top: 150px;
    left: 20%;
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .search .search__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .search .search__nav .search__a {
    text-decoration: none;
    justify-content: space-between;
  }
  .search .search__nav .search__a:hover {
    color: red;
  }
}
@media screen and (min-width: 640px) and (max-width: 900px) {
  .search {
    position: absolute;
    top: 170px;
    left: 20%;
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .search .search__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .search .search__nav .search__b {
    text-decoration: none;
    justify-content: space-between;
  }
  .search .search__nav .search__b:hover {
    color: red;
  }
}
@media screen and (min-width: 440px) and (max-width: 639px) {
  .search {
    position: absolute;
    top: 170px;
    left: 20%;
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .search .search__nav {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .search .search__nav .search__a {
    text-decoration: none;
    justify-content: space-between;
  }
  .search .search__nav .search__a:hover {
    color: red;
  }
}
.zagolovok {
  position: absolute;
  top: 60px;
  left: 10%;
  width: 400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.zagolovok p {
  font-size: 28px;
  color: #507299;
  font-family: Pushfont;
  text-decoration: none;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(bg.png) repeat;
  min-height: 100%;
}

/*# sourceMappingURL=styles.css.map */
