
@import "./header.scss";
@import "./searchfield.scss";
@import "./typeBar.scss";
@import "./footer.scss";
@import "./firsthead.scss";




  
* {
    margin: 0;
    padding: 0;
  }
 
  body{
    min-height: 100%;
  }
 



  

  
















