
@import "./header.scss";
@import "./searchfield.scss";
@import "./typeBar.scss";
@import "./footer.scss";
@import "./firsthead.scss";
@import "./BusList.scss";
@import "./secondhead.scss";
@import "./textblock1.scss";
@import "./secondhead2.scss";
@import "./textblock2.scss";


  
* {
    margin: 0;
    padding: 0;
  }
 
  body{
    min-height: 100%;
  }
 



  

  
















